[Desktop Entry]
Type=Application
Name=File Muncher
Icon=icons-Applications-filemanager
Exec=/usr/bin/qmlfilemuncher -fullscreen
Comment=Nemo File Manager
