[Desktop Entry]
Type=Application
Name=File Muncher
Icon=icons-Applications-filemanager
Exec=/usr/bin/invoker --single-instance -r 5 --type=qtcomponents-qt5 /usr/bin/qmlfilemuncher -fullscreen
Comment=Nemo File Manager
